#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.jpeg) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position:absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 8px;
    height: 20%;
    top: 30%;
    left: 49.1%;
    opacity: 0.8;
    
}
#minute{
    width: 7px;
    height: 28%;
    top: 22%;
    left: 49.26%;
    opacity: 0.8;
    
}
#second{
    width: 5.5px;
    height: 33%;
    top: 17%;
    left: 49.37%;
    
}
h1 {
    text-align: center;
    justify-content: center;
}